/Project/nbproject/private/
/Project/Project-war/nbproject/private/
/Project/Project-ejb/nbproject/private/
/SwingApp/nbproject/private/
/Library/nbproject/private/
/Project/Project-ejb/build/
/Project/Project-ejb/dist/
/Project/Project-war/build/
/SwingApp/build/
/Project/build/
/Project/Project-war/dist/
/SwingApp/dist/